<html>
    <head>
        <title>Site self promote</title>
    </head>
    <body>
        <div>
            <h1><a href="/">The Lucas Diógenes retrospective exibt</a></h1>
            <h2>Um lugarzinho onde tem de tudo um pouco daquele cara lá</h2>
            <h3>Tipo uhhhhh jogos favoritos e tals, talvez outras coisas também, tipo alguém sabe o que passa na cabeça daquele mano...</h3>
            <h4>Huh até quando vão esses subtítulos...</h4>
            <h5> EPA EPA TÁ FICANDO MT SMALL</h5>
            <h6> NOOOOOOOOOOOOOOOOoooooooooooooo</h6>
        </div>
        <p>Oi tudo certo?</p>
        <p>Tá tudo funcionando meu jóvem :P</p>
        <p>‎</p>
        {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
    </body>
</html>